<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        {% include "head.html.j2" %}
    </head>
    <body class="no-grid">
        {% include "primary_nav.html.j2" %}
        <main>
        <div class="columns-grid">
            {% for model, consistency in data %}
                {% with grid_size = outputs[model]|length %}
                <div>
                    <p class="centered">{{model | model_link }}</p>

                <table>
                    {% for i in range(grid_size) %}
                        <tr>
                            {% for j in range(grid_size) %}
                            <td style="--data-value: {{ consistency[(i, j)] }}">{{ "%.2f"|format(consistency[(i, j)]) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                </div>
                {% endwith %}
            {% endfor %}
        </div>
        </main>
    </body>
</html>
