<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <ul>
                {% for company_name, models in companies.items() %}
                <li>
                    {{ company_name }}
                    <ul class="model-list">
                        {% for model in models %}
                            <li>
                                <a {% if model.name == model_name %}class="current"{% endif %} href="{{model.file}}">
                                    {{ model.model_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <main>
            I asked every* model on openrouter this question:
            
            <div>
{{ prompt }}
            </div>

            * There are still some bugs so I don't have responses from all the models yet.
        </main>
    </body>
</html>
