<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        {% include "nav.html.j2" %}
        <main>
            I asked every* model on openrouter this question:
            
            <div>
{{ prompt }}
            </div>

            * There are still some bugs so I don't have responses from all the models yet.
        </main>
    </body>
</html>
