<!DOCTYPE html>
<html>
    <head>
        <title>{{current_model}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">

    </head>
    <body>
        {% include "nav.html.j2" %}
        <main>
            <p>Model: {{ current_model }}</p>

            <p>Model Consistency</p>

            <table>
                {% for i in range(GRID_SIZE) %}
                    <tr>
                        {% for j in range(GRID_SIZE) %}
                        <td style="--data-value: {{ consistency[(i, j)] }}">{{ "%.2f"|format(consistency[(i, j)]) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <p>Prompt</p>
            <div class="markdown-body">{{ prompt|safe }}</div>
            {% for item in items %}
                <p id="response-{{loop.index}}">Response {{ loop.index }}.</p>
                <div class="markdown-body">{{ item.content | to_markdown | safe }}</div>

                <p>Score: {{ item.score }}</p>

                {% if item.evaluation %}
                    <p>GPT-4-Turbo says:</p>
                    <div class="markdown-body">
                        {{ item.evaluation | to_markdown | safe }}
                    </div>
                {% endif %}
            {% endfor %}
        </main>
    </body>
</html>
