<!DOCTYPE html>
<html>
    <head>
        <title>{{model}}</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <nav>
            <ul>
                {% for company_name, models in companies.items() %}
                <li>
                    <div class="company-name">{{ company_name }}</div>
                    <ul class="model-list">
                        {% for model in models %}
                            <li>
                                <a {% if model.name == model_name %}id="current"{% endif %} href="{{model.file}}">
                                    {{ model.model_name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <main>
            <p>Model: {{ model_name }}</p>

            <p>Prompt</p>
            <div class="markdown-body">{{ prompt|safe }}</div>
            {% for item in items %}
                <p>Response {{ loop.index }}.</p>
                <div class="markdown-body">{{ item|safe }}</div>
            {% endfor %}
        </main>
    </body>
</html>
