<!DOCTYPE html>
<html>
    <head>
        <title>{{ model_info.name }}</title>
        {% include "head.html.j2" %}
        <script src="script.js"></script>
    </head>
    <body>
        <h1>{{ model_info.name }}</h1>

        <main class="contained">
            {% if model_info %}
            <h2>Description</h2>

            <div>
                {{ model_info.description | escape_titles | to_markdown | safe }}
            </div>
            {% endif %}

            <!--
            <p>Prompt</p>
            <div class="markdown-body prompt">{{ prompt | to_markdown |safe }}</div>
            -->

            <details>
                <summary>Prompt</summary>
                <div class="concealed markdown-body">
                    {{ prompt | to_markdown | safe }}

                </div>
            </details>

            <div class="tabs">
                {% for item in items %}
                <input type="radio" name="tabs" id="response-{{loop.index}}" />
                <label for="response-{{loop.index}}">Response {{ loop.index }} ({{item.score("anthropic/claude-3.5-sonnet")}})</label>

                <div class="tab">

                    <!-- <p id="response-{{loop.index}}">Response {{ loop.index }}.</p> -->
                    <div class="markdown-body response">{{ item.content | to_markdown | safe }}</div>

                    <details>
                        <summary>Marking Scheme</summary>
                        <div class="markdown-body">
                        {{ marking_scheme | to_markdown | safe }}
                        </div>
                    </details>

                    {% for evaluation in item.evaluations %}
                    <p>{{ evaluation.model}} says: ({{ evaluation.score }}) ({{evaluation.cost|cents}})</p>
                        <div class="markdown-body evaluation">
                            {{ evaluation.content | to_markdown | safe }}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </main>

        <div class="sidebar">
            <a href="/">LLM Survey</a>

            <h2>Most Similar</h2>

            <ul class=model-list>
                {% for model in outputs.by_similarity(current_model)[:5] %}
                <li>
                    <a href="{{model | model_file}}">
                        {{ model | model_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>

            {% if model_info %}
            <h2>Also by {{ model_info.company }}</h2>

            <ul class=model-list>
                {% for model in companies[model_info.company] %}
                <li>
                    <a href="{{model | model_file}}">
                        {{ model | model_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="sidebar">
            <section>
                <h2>Model Consistency</h2>

                <table>
                    {% for i in range(GRID_SIZE) %}
                        <tr>
                            {% for j in range(GRID_SIZE) %}
                            <td style="--data-value: {{ consistency[(i, j)] }}">{{ "%.2f"|format(consistency[(i, j)]) }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>

                <a href="/consistency.html">View All</a>
            </section>

            <section>
                <h2>Model Evaluations</h2>

                <table>
                    {% for model in evaluation_models %}
                        <tr>
                            <td>
                                {{ model | model_name }}
                            </td>
                            {% for item in items %}
                            {% if item.score(model) %} 
                            <td style="--data-value: {{item.score(model) / 10}}">
                                {{item.score(model)}}
                            </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <a href="/evaluators.html">View All</a>
            </section>
        </div>

    </body>
</html>
