<nav>
    <ul>
        {% for company_name, models in companies.items() %}
        <li>
        <div class="company-name">{{ company_name }}</div>
        <ul class="model-list">
            {% for model in models %}
              <li>
                <a {% if model.name == model_name %}id="current"{% endif %} href="{{model.file}}">
                    {{ model.model_name }}
                </a>
              </li>
            {% endfor %}
        </ul>
        </li>
        {% endfor %}
    </ul>
</nav>

<script>
    function scrollToCurrent() {
        var current = document.getElementById('current');
        console.log(current);
        if (current) {
            current.scrollIntoView();
        }
    }
    document.addEventListener('DOMContentLoaded', scrollToCurrent);
</script>
