<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        {% include "primary_nav.html.j2" %}
<h1>LLM Survey</h1>

        <main>

<p>I prompted {{ data|length }} LLM models with {{ prompts|length }} different prompts, and evaluated the results with GPT-4.  Here's how they did:
</p>
            <table>
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Cost</th>
                    <th>Avg Score</th>
                    <th>Company</th>
                </tr>
                </thead>
                {% for model in models %}
                    <tr>
                        <td>
                            {{ model | model_link }}
                        </td>
                        <td>
                            {% set cost = costs[model]*100 %}
                            {{ "%.2f"|format(cost) }}
                        </td>
                        <td>
                            {% set total_score = data[model] | map(attribute='score') | select('ne', None) | sum %}
                            {% set nitems = data[model] | length %}
                            <a href="/{{model}}" title="N={{ data[model]|length }}">{{ "%.2f"|format(total_score/nitems) }}</a>
                        </td>
                        <td>
                        {{ model | model_company }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </main>
        <footer>(c) 2024 cthulahoops</footer>
    </body>
</html>
