<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <main>
            <table>
                <tr>
                    <th>Company</th>
                    <th>Model</th>
                    <th>Goodness</th>
                    <th>Cost</th>
                    <th>Consistency</th>
                </tr>
                {% for model in models %}
                    <tr>
                        <td>
                            {{ model | model_company }}
                        </td>
                        <td>
                            {{ model | model_link }}
                        </td>
                        {% with similarity = summed_models[model] | similarity(reference_model) %}
                            <td style="--data-value: {{ similarity }}">
                                {{ "%.2f"|format(similarity) }}
                            </td>
                        {% endwith %}
                        <td>
                            ${{ "%.4f"|format(costs[model]) }}
                        </td>
                        {% with consistency = consistencies[model] %}
                            <td style="--data-value: {{ consistency }}">
                                {{ "%.2f"|format(consistency) }}
                            </td>
                        {% endwith %}
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
