<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <main>
            <table>
                <tr class="header-row">
                    <th></th>
                    {% for item in data %}
                        <th class="column-header">
                            <div>
                                {{item["model"] | model_link}}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                {% for item in data %}
                    <tr>
                        <th>
                            {{item["model"] | model_link}}
                        </th>
                        {% for similarity in item["similarities"] %}
                            <td style="--data-value: {{ similarity }}">{{ "%.2f"|format(similarity) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
