<!DOCTYPE html>
<html>
    <head>
        <title>LLM Survey</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <main>
            <table>
                <tr class="header-row">
                    <th></th>
                    {% for model in models %}
                        <th class="column-header">
                            <div>
                                {{model | model_link}}
                            </div>
                        </th>
                    {% endfor %}
                </tr>
                {% for model in models %}
                    <tr>
                        <th>
                            {{model | model_link}}
                        </th>
                        {% for model2 in models %}
                            {% with similarity = summed_models[model] | similarity(summed_models[model2]) %}
                                <td style="--data-value: {{ similarity }}">
                                    {{ "%.2f"|format(similarity) }}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </main>
    </body>
</html>
